* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #000;
    color: #fff;
}

h1 {
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: start;
    margin: 20px;
}

h3 {
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    height: 60vh;
    width: 100vw;
    justify-content: center;
    align-items: center;

}

section {
    /* display: flex; */
    /* flex-wrap: wrap; */
    overflow: visible;
    justify-content: center;
    align-items: center;
    height: 50vh;
    /* width: 50vw; */


}

.box {
    /* justify-content: center; */
    /* text-align: center; */
    border: 3px solid #33373d;
    border-radius: 25px;
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
    transition: all 0.5s ease;
}

.box:hover {
    transform: scale(1.08);
    border: 3px solid #33373d;
    border-radius: 25px;
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
    transform: scale(1.08);
    transition: all 0.5s ease;
    box-shadow:5px 5px 50px rgba(160, 152, 152, 0.7); 
}

#red {
    background-color: #C62828;
}

#blue {
    background-color: #1565C0;

}

#green {
    background-color: #2E7D32;
}

#yellow {
    background-color: #F9A825;
}